.scroll-container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media (max-width: 768px) {
  .scroll-container {
    height: auto;
    width: 100%;
    overflow-y: hidden;
    scroll-snap-type: none;
  }
}
