.navbar-bg {
  background-color: white;
}

.hover-navbar {
  background: transparent;
  transition: background-color 200ms ease-in;
}

.hover-navbar:hover {
  background-color: white;
}

.search-button {
  margin-left: 1rem;
  height: 2.24rem;
}

.user-login {
  align-items: center;
  padding-left: 0.2rem;
  margin-left: 0.2rem;
  gap: 0.2rem;
}

.hamburger-button {
  background-image: url(../../assets/Home/hamburger-icon-1.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 1400px) {
  .user-login {
    flex-direction: column;
    margin-top: 0.5rem;
    align-items: flex-start;
    justify-content: center;
    padding-left: 0.2rem;
    margin-left: 0;
  }
}
